button {
  display: block;
  align-self: center;
}

.img-product {
  width: 250px;
  height: 200px;

  position: relative;
}

.container-item {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  justify-content: space-evenly;
  margin-top: 90px;
  margin-left: 120px;
  grid-gap: 70px;
  grid-auto-rows: 220px;

  width: 750px;
}
.modal-backdrop {
  z-index: -1;
}
/* .item{


} */
.img {
  background-color: royalblue;
  width: 250px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
.add_1 {
  height: 50px;
  width: 50px;
  margin-top: -190px;
  margin-left: 123px;
}
.title {
  position: absolute;
  width: 146px;
  height: 26px;
  /* left: 138px;
  top: 329px;
   */
  font-family: Airbnb Cereal App;
  font-size: 25px;
  line-height: 33px;
  font-style: bold;
  color: #000000;
}
.price {
  position: absolute;
  width: 166px;
  height: 33px;
  margin-top: 30px;
  font-style: bold;
  font-family: Airbnb Cereal App;
  font-size: 25px;
  line-height: 33px;
}

.box-title {
  width: 250px;
  height: 50px;
  margin-top: 0px;
  position: absolute;
  z-index: 2;

  /* visibility: visible; */
}
